#!/bin/sh
set -e
#https://packagist.org/packages/cviebrock/laravel-elasticsearch
composer require cviebrock/laravel-elasticsearch
php artisan vendor:publish --provider="Cviebrock\LaravelElasticsearch\ServiceProvider"
